{
  "openapi": "3.1.0",
  "info": {
    "title": "Definitive Flash API",
    "version": "2.0.0",
    "description": "Flash swap API for decentralized token trading."
  },
  "servers": [
    {
      "url": "https://ddp.definitive.fi/v2/flash"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-definitive-api-key",
        "description": "Your Definitive API key.",
        "x-default": "dpka_2bd021e7_6458_4042_9f20_b01c9a95c2a4"
      }
    },
    "schemas": {
      "SvmAccountMeta": {
        "type": "object",
        "properties": {
          "pubkey": {
            "type": "string"
          },
          "isSigner": {
            "type": "boolean"
          },
          "isWritable": {
            "type": "boolean"
          }
        },
        "required": ["pubkey", "isSigner", "isWritable"]
      },
      "SvmDelegateInstruction": {
        "type": "object",
        "nullable": true,
        "properties": {
          "programId": {
            "type": "string"
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SvmAccountMeta"
            }
          },
          "data": {
            "type": "string",
            "description": "hex-encoded instruction data"
          }
        },
        "required": ["programId", "accounts", "data"]
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "string",
            "example": "q_abc123"
          },
          "fromAssetAddress": {
            "type": "string",
            "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          "toAssetAddress": {
            "type": "string",
            "example": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
          },
          "fromAmount": {
            "type": "string",
            "example": "1.5"
          },
          "toAmount": {
            "type": "string",
            "example": "0.00042"
          },
          "minToAmount": {
            "type": "string",
            "example": "0.000416"
          },
          "approveTx": {
            "type": "object",
            "nullable": true,
            "properties": {
              "to": {
                "type": "string"
              },
              "data": {
                "type": "string"
              }
            },
            "required": ["to", "data"]
          },
          "permitTypedData": {
            "type": "string",
            "nullable": true
          },
          "orderTypedData": {
            "type": "string",
            "nullable": true
          },
          "svmDelegateIx": {
            "$ref": "#/components/schemas/SvmDelegateInstruction"
          },
          "svmSignedMessage": {
            "type": "string",
            "nullable": true,
            "description": "UTF-8 payload the user must Ed25519-sign; returned as a hex-encoded string"
          },
          "flashOrderNonce": {
            "type": "string",
            "nullable": true
          },
          "deadline": {
            "type": "string",
            "nullable": true,
            "description": "unix seconds"
          },
          "priceImpact": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "quoteId",
          "fromAssetAddress",
          "toAssetAddress",
          "fromAmount",
          "toAmount",
          "minToAmount",
          "approveTx",
          "permitTypedData",
          "orderTypedData",
          "svmDelegateIx",
          "svmSignedMessage",
          "flashOrderNonce",
          "deadline",
          "priceImpact"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "nullable": true
              }
            },
            "required": ["code", "message"]
          }
        },
        "required": ["error"]
      },
      "Chain": {
        "type": "string",
        "enum": [
          "arbitrum",
          "avalanche",
          "base",
          "blast",
          "bsc",
          "ethereum",
          "optimism",
          "polygon",
          "solana",
          "hyperevm",
          "plasma",
          "monad"
        ],
        "example": "ethereum"
      },
      "OrderSide": {
        "type": "string",
        "enum": ["buy", "sell"],
        "description": "direction of the order",
        "example": "buy"
      },
      "OrderType": {
        "type": "string",
        "enum": ["market", "limit", "twap", "stop"],
        "example": "market"
      },
      "QuoteRequest": {
        "type": "object",
        "properties": {
          "fromChain": {
            "$ref": "#/components/schemas/Chain"
          },
          "toChain": {
            "$ref": "#/components/schemas/Chain"
          },
          "fromAssetAddress": {
            "type": "string",
            "minLength": 1,
            "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          "toAssetAddress": {
            "type": "string",
            "minLength": 1,
            "example": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
          },
          "side": {
            "$ref": "#/components/schemas/OrderSide"
          },
          "qty": {
            "type": "string",
            "minLength": 1,
            "description": "Token amount as a decimal string in the asset's normalized units (e.g. 1.5 USDC).",
            "example": "1.5"
          },
          "orderType": {
            "$ref": "#/components/schemas/OrderType"
          },
          "maxSlippage": {
            "type": "string"
          },
          "limitPrice": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "maxPriceImpact": {
            "type": "string"
          },
          "funderAddress": {
            "type": "string"
          }
        },
        "required": [
          "fromChain",
          "toChain",
          "fromAssetAddress",
          "toAssetAddress",
          "side",
          "qty",
          "orderType"
        ]
      },
      "SubmitOrderResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "example": "ord_xyz789"
          }
        },
        "required": ["orderId"]
      },
      "SubmitOrderRequest": {
        "type": "object",
        "properties": {
          "fromChain": {
            "$ref": "#/components/schemas/Chain"
          },
          "toChain": {
            "$ref": "#/components/schemas/Chain"
          },
          "fromAssetAddress": {
            "type": "string",
            "minLength": 1,
            "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          },
          "toAssetAddress": {
            "type": "string",
            "minLength": 1,
            "example": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
          },
          "side": {
            "$ref": "#/components/schemas/OrderSide"
          },
          "qty": {
            "type": "string",
            "minLength": 1,
            "description": "Token amount as a decimal string in the asset's normalized units (e.g. 1.5 USDC).",
            "example": "1.5"
          },
          "orderType": {
            "$ref": "#/components/schemas/OrderType"
          },
          "maxSlippage": {
            "type": "string"
          },
          "limitPrice": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "funderAddress": {
            "type": "string",
            "minLength": 1,
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          "quoteId": {
            "type": "string"
          },
          "flashIntegratorFeeBps": {
            "type": "string",
            "example": "10"
          },
          "clientOrderId": {
            "type": "string"
          },
          "userSignature": {
            "type": "string",
            "description": "Hex-encoded signature over the order payload. EIP-712 for EVM chains; 64-byte Ed25519 signature over svmSignedMessage for SVM chains.",
            "example": "0x..."
          },
          "orderTypedData": {
            "type": "string"
          },
          "permitTypedData": {
            "type": "string"
          },
          "permitSignature": {
            "type": "string"
          },
          "svmNonce": {
            "type": "string",
            "description": "Echoed back from QuoteResponse.flashOrderNonce. Required on SVM chains."
          },
          "deadline": {
            "type": "string",
            "description": "Echoed back from QuoteResponse.deadline (unix seconds). Required on SVM chains; on EVM chains deadline is derived from orderTypedData."
          }
        },
        "required": [
          "fromChain",
          "toChain",
          "fromAssetAddress",
          "toAssetAddress",
          "side",
          "qty",
          "orderType",
          "funderAddress"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/quote": {
      "post": {
        "tags": ["Flash"],
        "summary": "Get a quote",
        "description": "Request a quote for a flash swap. Returns pricing, fee breakdown, asset amounts, and market quality indicators.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/flash/quote"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Gateway timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order": {
      "post": {
        "tags": ["Flash"],
        "summary": "Submit an order",
        "description": "Submit a flash order with full order details. Optionally link to a prior quote via quoteId.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/flash/order"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Gateway timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
